.users-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #EEE;
}

.user-item span {
    flex: 1;
}

.user-id {
    flex: 0.5;
}

.user-name {
    flex: 2.5;
}

.user-type, .user-rating, .user-joined, .user-last-login, .user-status {
    flex: 1.5;
}
.button-add-close {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  max-width: 200px; /* Adjust max-width as needed */
  margin: auto;
}

.button-add-close button {
  flex: 1;
  margin: 0 5px; /* Adjust margin as needed */
  padding: 10px; /* Adjust padding as needed */
}
.user-id-header {
    flex: 0.5;
    color: rgba(119, 110, 132, 1);
}

.user-type {
    flex: 2;
}

.user-name-header {
    flex: 2.5;
    color: rgba(119, 110, 132, 1);
}

.user-rating-header, .user-joined-header, .user-last-login-header, .user-status-header {
    flex: 1.5;
    color: rgba(119, 110, 132, 1);
}

.user-type-header {
    flex: 2;
    color: rgba(119, 110, 132, 1);
}

.listcontainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-link-style {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.user-link-style:hover {
    text-decoration: none;
    color: rgba(2, 0, 102, 1);
    font-weight: 600;
}

.give-review-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgba(2, 0, 102, 1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.Accept{
  background-color: green;
  color: white;
}
.close{
  background-color: red;
  color: white;
}
.user-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: white;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
}
.user-dialog::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}


.status-Completed {
    color: green;
}

.status-active {
    color: red;
}

.status-pending {
    color: orange;

}
.receipt {
    background-color: #fff;
    padding: 20px;
    width: 800px; /* Adjusted width */
}
.receipt2 {
  background-color: #fff;
  padding: 20px;
  width: 400px; /* Adjusted width */
}

.header h1 {
  text-align: start;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-dialog  th, td {
  padding: 8px;
  text-align: start;
  vertical-align: middle;
}
.user-dialog td {
  padding: 8px;
  text-align: start;
  vertical-align: middle;
}
.user-dialog     th {
  background-color: #f2f2f2;
}

.service-cell {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.service-image {
  width: 120px;
  height: 100px;

}

.service-details {
  text-align: left;
}

.status-completed {
  background-color: #d4edda;
  color: #155724;
  padding: 5px;
  border-radius: 5px;
}

.summary {
  text-align: right;
}


.summary p, .summary h2 {
  margin: 5px 0;
}