.bodytag {

    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.selected {
    background-color: #e2e3e5;
     /* Light grey background */
}
.container9 {
    display: flex;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 70%;
    height:auto;
}

.left9, .right9 {
    padding: 20px;
}

.left9 {
    flex: 3;
    border-right: 1px solid #ddd;
}

.right9 {
    flex: 2;
}
#icon9{
    padding-left: 10px;
font-size: 20px; 
    margin-right: 20px;
}

.editbutton{
    align-items:left;
    width: 10%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
}

.section9 {
    background-color: #fff;
    border-radius: 10px;
}
.summ-flex{
    display: flex;
}
.section9 h2 {
    margin: 0 0 20px;
    font-size: 18px;
}

.section9 p {
    margin: 10px 0;
}



.card9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.card10 {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}
.card10 img {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    margin-right: 15px;
}

.card10 p {
    margin: 0;
}

.card10 .title {
    font-weight: bold;
}
.extra{
    display: flex; align-items: center;
}
.card9 img {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    margin-right: 15px;
}

.card9 p {
    margin: 0;
}

.card9 .title {
    font-weight: bold;
}

.place-order-button {
    width: 100%;
    padding: 15px;
    background-color: #00008b;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.place-order-button:hover {
    background-color: #00006a;
}

.cart-summary9 img {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    flex-direction: row;
}

.order-total9 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.order-total9 p {
    margin: 0;
}

.order-total9 .total {
    font-weight: bold;
}
.alish p {
    font-weight: lighter;
    font-size: 12px;
}
