.body-payment-card {
   height: 100px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0;
}
.container-payment-card {
    width: 350px;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 20px;
}
.header-payment-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.header-payment-card h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.header-payment-card .close-btn {
    font-size: 24px;
    cursor: pointer;
}
.form-group-payment-card {
    margin-bottom: 15px;
}
.form-group-payment-card label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}
.form-group-payment-card input, .form-group-payment-card select {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
.form-group-payment-card.two-columns {
    display: flex;
    justify-content: space-between;
}
.form-group-payment-card.two-columns .form-group-payment-card {
    width: 48%;
}
.buttons-payment-card {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.buttons-payment-card button {
    width: 48%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.buttons-payment-card .add-card-btn {
    background-color: #00008b;
    color: white;
}
.buttons-payment-card .cancel-btn {
    background-color: white;
    color: black;
    border: 1px solid #00008b;
}
